{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block content %}
    <div>
        <h1>{% trans "About" %}</h1>

        <p>{% blocktrans %}PiplMesh is the project of students at <a class="ext-link" href="http://www.fri.uni-lj.si/">Faculty of Computer and Information Science</a> of University of Ljubljana and <em>wlan slovenija</em> open wireless network. Its main goal is the development of an open source social networking and info portal for wireless networks used as a  welcome page when users connect to the network.{% endblocktrans %}</p>

        <p>{% blocktrans %}You can read more about the project on  <a class="ext-link" href="http://dev.wlan-si.net/wiki/PiplMesh/">development pages</a> of wlan slovenija.{% endblocktrans %}</p>

        <p>{% blocktrans %}For development <a class="ext-link" href="https://github.com/">GitHub</a> is used, so source code and issue tracker is found there. A list of contributors is also avaible as <a class="ext-link" href="https://github.com/wlanslovenija/PiplMesh/stargazers/">GitHub profiles list</a>.{% endblocktrans %}</p>

        <p>{% blocktrans %} Project is developed under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. See the <a class="ext-link" href="http://www.gnu.org/licenses/">GNU Affero General Public License</a> for more details.{% endblocktrans %}</p>

        <p>{% blocktrans %}If you have found a bug or have any other technical issue with the site, please use <a href="https://github.com/wlanslovenija/PiplMesh/issues?state=open">GitHub to report it</a>.

All work is done voluntarily, so you are very welcome to help us make it even better. All code is available at <a class="ext-link" href="https://github.com/wlanslovenija/PiplMesh">github.com/wlanslovenija/PiplMesh</a>. Read <a class="ext-link" href="https://github.com/wlanslovenija/PiplMesh/tree/master/docs">docs</a> for instructions.{% endblocktrans %}</p>
    </div>
{% endblock %}

