{# some really basic block stuff #}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}PiplMesh{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" />
</head>
<body>
<div class="container">
	{% block top %}
	<div class="header">
		<div class="logo">
		

		<img src="{{ STATIC_URL }}piplmesh/images/logo.png" alt="PiplMesh" />
		<h1>Pipl Mesh</h1>
		</div>
		
		<div class="search">
			<form method="get" action="http://www.google.com/search">
				<img width="100" height="30" alt="{{ search_engine }} Search Engine" src="{{ STATIC_URL }}piplmesh/images/{{ search_engine_logo }}" />
				<input type="text" name="q" size="25" maxlength="255" value="" />
				<input type="submit" value="{{ search_engine }} Search" />
			</form>
		</div>
	</div>
	{% endblock %}
	
	<div class="main">
	{% block content %}
	
	{% endblock %}
	</div>
	
	{% block footer %}
	
	<div class="footer">
		<p>Footer here!</p>
	</div>
	
	{% endblock %}
</div>
</body>
</html>