{% load future i18n %}

<div id="footer">
    <hr class="hidden" />
    <div id="footer_nav">
        <a href="http://wlan-si.net/">wlan slovenija</a> | <a href="https://nodes.wlan-si.net/">{% trans "node database" %}</a> | <a href="http://dev.wlan-si.net/">{% trans "development" %}</a> | <a href="http://grow.wlan-si.net/">{% trans "growing" %}</a>
    </div>
    <div id="footer_links">
        <a href="{% url "about" %}">{% trans "about" %}</a> | <a href="{% url "privacy" %}">{% trans "privacy policy" %}</a> | <a href="{% url "contact" %}">{% trans "contact" %}</a>
    </div>
    <div id="language">
        <ul>
            {% for lang in LANGUAGES %}
                {% get_language_info for lang.0 as lang_info %}
                {% if lang.0 == LANGUAGE_CODE %}
                    <li class="language_selected">{{ lang_info.name_local }}</li>
                {% else %}
                    <li>
                        <form action="{% url "set_language" %}" method="post">
                            {% csrf_token %}
                            <div>
                                <input type="hidden" value="{{ request.get_full_path }}" />
                                <input type="hidden" name="language" value="{{ lang.0 }}" />
                                <button type="submit" class="text_button">{{ lang_info.name_local }}</button>
                            </div>
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
