<div class="container">
    <div class="header">
        <div class="logo">
            <img src="{{ STATIC_URL }}piplmesh/images/logo.png" alt="PiplMesh" />
            <h1>Pipl Mesh</h1>
        </div>
        <div class="search">
		<div id="cse-search-form" style="width:100%;">Loading</div>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript"> 
        google.load('search', '1', {language : 'en'});
        google.setOnLoadCallback(function() {
            var customSearchOptions = {};
            var customSearchControl = new google.search.CustomSearchControl('003912915932446183218:zeq20qye9oa', customSearchOptions);
            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            var options = new google.search.DrawOptions();
            options.enableSearchboxOnly("/search/");
            customSearchControl.draw('cse-search-form', options);
        }, true);
        </script>
        <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
        </div>
    </div>
</div>
