<div class="container">
    <div class="header">
        <div class="logo">
        	<a href="/">
                <img src="{{ STATIC_URL }}piplmesh/images/logo.png" alt="PiplMesh" />
            </a>
            <h1>Pipl Mesh</h1>
        </div>
        <div class="search">
            <div id="cse-search-form"></div>
            <script src="https://www.google.com/jsapi" type="text/javascript"></script>
            <script type="text/javascript">
                var language_code = '{{ LANGUAGE_CODE }}';
                var search_engine_unique_id = '{{ SEARCH_ENGINE_UNIQUE_ID }}';
            </script>
            <script type="text/javascript" src="{{ STATIC_URL }}piplmesh/js/search_bar.js"></script>
            <link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" />
        </div>
    </div>
</div>
