{% load i18n %}
<div id="container">
    <div id="header">
        <div id="logo">
			<a href="{% url home %}">
            	<img src="{{ STATIC_URL }}piplmesh/images/logo-sl.png" alt="PiplMesh" />
            </a>
        </div>
        <div id="search">
            <div id="cse_search_form">
                <script src="https://www.google.com/jsapi" type="text/javascript"></script>
                <script type="text/javascript">
                    var language_code = '{{ LANGUAGE_CODE }}';
                    var search_engine_unique_id = '{{ SEARCH_ENGINE_UNIQUE_ID }}';
                    var search_page_url = '{% url search %}';
                </script>
            </div>
            <script type="text/javascript" src="{{ STATIC_URL }}piplmesh/js/search_bar.js"></script>
            
            {% trans "See your query results on " %}<a id="google_results_link">Google</a>.
        </div>
        {% comment %}
        This div is used for registration and log in link. 
        If user is already logged in, his username and logout link are shown instead.
        {% endcomment %}
        <div class='user'>
            {% load facebook_tags %}
            {% if user.is_authenticated %}
                <img src="{% facebook_picture user.username "square" %}" />
                <p>{% trans "Username:" %}<strong>{{ user.username }}</strong> </p>
                <p><a href="{% url logout %}">{% trans "Log out" %}</a></p>
            {% else %}
                <p><a href="{% url registration %}">{% trans "Register" %}</a></p>
                <p><a href="{% url login %}">{% trans "Log in" %}</a></p>
            {% endif %}
        </div>
    </div>
</div>
