{% extends "plain.html" %}

{% block fulltitle %}wlan slovenija{% endblock %}

{% block content %}
    <div id="main">
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
    </div>
    {% include "userlist.html" %}
{% endblock %}
