{% extends "plain.html" %}

{% block fulltitle %}wlan slovenija{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        /* <![CDATA[ */
        var onlineUsers = {
            {% for user in online_users %}
                '{{ user.username|lower|escapejs }}': {
                    'username': '{{ user.username|escapejs }}',
                    'profile_url': '{{ user.get_profile_url|escapejs }}',
                    'image_url': '{{ user.get_image_url|escapejs }}'
                }
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        };
        /* ]]> */
    </script>
{% endblock %}

{% block content %}
    <div id="main">
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
    </div>
    {% include "userlist.html" %}
{% endblock %}
