{% extends "plain.html" %}

{% load staticfiles pushserver panels %}

{% block fulltitle %}wlan slovenija{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "pushserver/updates.js" %}" type="text/javascript"></script>
    <script src="{% static "piplmesh/js/home.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        $.updates.subscribe({
            'home_channel': '{% filter escapejs %}{% channel_url HOME_CHANNEL_ID %}{% endfilter %}'
        });
        /* ]]> */
    </script>
{% endblock %}

{% block content %}
    <div id="main">
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
        <p>
        HOME PAGE CONTENT HERE
        </p>
        <p>
        SOME MORE JUICY CONTENT
        </p>
    </div>
    {% for panel in user.get_panels %}
        {% render_panel panel %}
    {% endfor %}
{% endblock %}
