{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "Privacy policy" %}{% endblock %}

{% block content %}
    <div class="Privacy">
        <h1>{% trans "Privacy policy" %}</h1>
        <em>Last modified: Septembr 6, 2012</em>
		<p>Personal identification information

		<p>We may collect personal identification information from users in a variety of ways, including, but not limited to, when users visit our site or register on the site. Users may be asked for, as appropriate, name and/or email address. Users may, however, visit our Site anonymously. We will collect personal identification information from users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information.</p>

		<p>Non-personal identification information</p>

		<p>We may collect non-personal identification information about users type of device, the browser name, the operating system and other similar technical information.</p>

		<p>How we use information we collected</p>

		<p>PiplMesh may collect and use users personal information to improve customer service (helps us respond to your customer service requests and support), to personalize user experience (helps us understand how our users as a group use the services and resources provided on our Site) and to send periodic emails (as response to their inquiries, questions, and/or other requests).</p>

		<p>How we protect your information</p>

		<p>Sensitive and private data exchange over a SSL secured communication channel and is encrypted.</p>

		<p>Sharing your personal information</p>

		<p>We do not sell or trade users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users in commercial purposes.</p>

		<p>Changes to this privacy policy</p>

		<p>We have the discretion to update this privacy policy at any time. When we do, we will post a notification on the main page of our Site. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>

		<p>Your acceptance of these terms</p>

		<p>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
    </div>
{% endblock %}
