{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block content %}
    {% if "q" in request.GET %}
        <div id="google_query">{% trans "Results for:" %} <span class="google_query_text">{{ request.GET.q }}</span></div>
    {% endif %}
    <div id="cse" class="result"></div>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        var language_code = '{{ LANGUAGE_CODE|escapejs }}';
        var search_engine_unique_id = '{{ SEARCH_ENGINE_UNIQUE_ID|escapejs }}';
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}piplmesh/js/search_page.js"></script>
{% endblock %}
