<form>
    <input type="button" value="Pipl Mesh" onclick="window.location.href='/'"> 
</form>
<hr />
<div id="cse"></div>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    var lang_code = '{{ LANGUAGE_CODE }}';
    var unique_id = '{{ SEARCH_ENGINE_UNIQUE_ID }}';
</script>
<script type="text/javascript" src="{{ STATIC_URL }}piplmesh/js/search_page.js"></script>
<link rel="stylesheet" href="https://www.google.com/cse/style/look/default.css" type="text/css" /> 