{% load i18n %}

{% block js %}
        <script type="text/javascript">
            /* <![CDATA[ */
            var onlineUsers = [
                {% for user in online_users %}
                    {
                        'username': '{{ user.username }}',
                        'profile_url': '{{ user.profile_url }}',
                        'image_url': '{{ user.image_url }}'
                    }
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            ];
            /* ]]> */
        </script>
{% endblock %}

<div class="panel">
    <div class="header" title="{% trans "Show/Hide Users" %}">{% trans "Online Users" %}</div>
    <ul id="userlist"></ul>
    <form action="">
        <img src="{{ STATIC_URL }}piplmesh/images/magnifying_glass.png" alt="{% trans "Search users" %}" />
        <input type="text" id="search_users" />
    </form>
</div>