<div class="box">
    <div class="boxHeader" title="{% trans "Show/Hide Users" %}">{% trans "Active Users" %}</div>
    <ul id="userlist">
        {% for user in online_users %}
        <li>{{ user }}</li>
        {% endfor %}
    </ul>
    <form action="">
        <img src="{{ STATIC_URL }}piplmesh/images/magnifying_glass.png" alt="magnifying_glass" />
        <input type="text" id="search_users" />
        <label>
            <input type="checkbox" id="alphabet_order" />A-Z
        </label>
    </form>
</div>