/* TODO: It should be nicer */
#basic-map {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    margin-right: 20px;
    position: relative;
}

#basic-map-extend-image {
    position: absolute;
    right: -1.5px;
    top: 29px;
    cursor: pointer;
    height: 24px;
    width: 24px;
    z-index: 300020;
    background-image: url("images/extend.png");
}

#map {
    height: 100%;
    width: 100%;
    border: 1px solid #CCCCCC;
}

#advanced-map {
    opacity: 1;
    background-color: #333;
    -moz-box-shadow: 0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    position: fixed;
    top: 7%;
    bottom: 7%;
    left: 7%;
    right: 7%;
    z-index: 300010;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    background: none;
    word-spacing: normal;
    letter-spacing: normal;
    float: none;
    clear: none;
    display: block;
    overflow: visible;
}

#advanced-map-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#close-button {
    position: fixed;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    float: none;
    clear: none;
    z-index: 300040;
    right: 0;
    top: 0;
    height: 61px;
    width: 52px;
    cursor: pointer;
    background-image: url("images/close.png");
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300000;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    word-spacing: normal;
    letter-spacing: normal;
    float: none;
    clear: none;
    display: block;
    background-color: black;
}
