#basic-map{
    width: 250px;
    height: 250px;
    margin-bottom:50px;
    margin-right:20px;
}
#map {
 height:100%;
 width:100%;
}
#advanced-map {


    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
   opacity: 1;

    /* styling */
    background-color:#333;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;

    position: fixed;
    top: 7%;
    bottom: 7%;
    left: 7%;
    right: 93%;
    z-index: 300010;
    text-align: center;
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
    background: none;
    word-spacing: normal;
    letter-spacing: normal;
    float: none;
    clear: none;
    display: block;
    background-color: white;
    overflow: visible;

}
#advanced-map-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
}
#advanced-map-container .close {

    background-image:url(http://jquerytools.org/media/img/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

.centered{
    margin-right: auto;
    margin-left: auto;
}
#overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 300000;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    word-spacing: normal;
    letter-spacing: normal;
    float: none;
    clear: none;
    display: block;
    background-color: black;
    opacity:0.5;
}