body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: url('../images/background.png') repeat-x top left;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

a {
    color: #68AE2C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, button {
    outline: none;
}

a img {
    border: none;
}

/* Disables 3d push effect on button (IE) */
button {
    position: relative;
}

button span {
    position: relative;
    display: block;
}

.hidden {
    visibility: hidden;
}
.gravatar {
    border: 0px;
}

/* -------------------- FORMS --------------------- */
form input[type="submit"], form input[type="reset"] {
    border: 1px solid gray;
    font-weight: bold;
    min-width: 105px;
    padding: 5px;
    cursor: pointer;
}

.form_fields {
    list-style-type: none;
}

.form_fields .field {
    margin: 0.1em 0 0.1em 0;
    padding: 0.2em 0.3em;
    clear: left;
    margin-left: 13em;
    min-height: 2em;
}

.form_fields .field input {
    width: 15.3em;
    border: 1px solid #AFAFAF;
}

.form_fields .field input[type="radio"], input[type="checkbox"] {
    width: auto;
    border: none;
}

.form_fields .field label {
    float: left;
    width: 16em;
    padding-right: 2em;
    margin-left: -13em;
}

.input_invalid {
    background-color: #ff0000;
}

.input_invalid_text {
    color: #ff0000;
}

/* Styling nested lists such as radio buttons */
.form_fields .field ul {
    padding-left: 0;
    margin-left: 18em;
}

.form_fields .field ul li {
    display: inline;
}

.errorlist {
    color: #FF0000;
    padding: 0.3em;
}

.form_fields .errorlist {
    margin-left: 19em;
}

.form_fields .errorlist li {
    text-align: left;
}

/* -------------------- HEADER --------------------- */
#header {
    height: 128px;
    min-width: 800px;
    display: inline-block;
}

#header #logo {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: inherit;
}

#header #search {
    position: absolute;
    right: 20px;
    top: 85px;
    width: 400px;
    height: 50px;
}

#header .user {
    margin-right: 20px;
    position: absolute;
    top: 5px;
    right: 0; 
}

#header .user ul { 
    font-size: 10px;
    list-style: none;
    margin: 0;
    text-align: right;
}

#header .user li {
    float: left;
    border-right: 1px solid #d7d7d7;
    display: inline;
    padding: 0 .75em;
    white-space: nowrap;
}

#header .user li.last { 
    border-right: none; 
}

#header .user .username {
    font-weight: bold;
}

#header .user .image { 
    vertical-align: text-top;
    border-right: none;
}

#header .user button {
    text-decoration: none;
    font-size: 10px;
}

td.gsc-clear-button, table.gsc-branding {
    display: none;
}

/* Google search CSS */
#google_query {
    margin-bottom: -10px;
    margin-left: 110px;
}

.google_query_text {
    font-weight: bold;
}

#gsc-i-id1 {
    border-color: #969696;
    border-bottom-left-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    height: 24px;
}

input.gsc-search-button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: -moz-linear-gradient(#F1F1F1, #DFDFDF);
    background-image: -ms-linear-gradient(#F1F1F1, #DFDFDF);
    background-image: -webkit-linear-gradient(#F1F1F1, #DFDFDF);
    background-origin: padding-box;
    background-position: 0 0;
    border-bottom-right-radius: 3px;
    border-bottom-color: #999999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-right-radius: 3px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 1px 1px 0 #E7E7E7, 0 1px 0 #FCFCFC inset, 0 -1px 0 #D7D7D7 inset;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    height: 28px;
    margin-left: 50px;
    position: relative;
    left: -6px;
    display: inherit;
}

#search_logo {
    position: absolute;
    right: 410px;
    top: 2px;
}

/* -------------------- MAIN ------------------------ */
#content {
    margin: 20px;
}

#main {
    overflow: hidden;
}

.result {
    text-align: left;
    padding-top: 30px;
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 30px;
}

.faq {
    padding-left: 10px;
}

.faq dt {
    font-size: 14px;
    font-weight: bold;
}

/* -------------------- AUTHENTICATION ------------------------ */
.auth_button {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    color: #68AE2C;
    font-size: 13px;
    text-decoration: none;
}

.auth_button:hover span {
    text-decoration: underline;
}

#email_confirmation {
    margin-bottom: 100px;
}

#email_confirmation_process_token input[type=text]  {
    width: 500px;
}

/* ---------------- FB LOGIN BUTTON ------------------- */
.fb_login_button {
    background: #29447E url('../images/fb_login_button.png');
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 1px;
    text-decoration: none;
    outline: none;
    font-size: 11px;
    line-height: 14px;
    margin: 0px;
    border: 0;
    height: 22px;
    width: 163px;
}

.fb_login_button:hover {
    background-position: -163px;
}

.fb_button_text {
    color: white;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    padding: 4px 6px 3px 6px;
    margin: -3px 1px 0 21px;
    text-shadow: none;
}

/* ---------------- TWITTER LOGIN BUTTON ------------------- */
.twitter_login_button {
    background: #3DBCDC url('../images/twitter_button.png');
    background-position:  0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 1px;
    text-decoration: none;
    outline: none;
    font-size: 11px;
    line-height: 14px;
    margin: 0px;
    outline: none;
    border: 0;
}

.twitter_button_text {
    background: #3DBCDC;
    border-top: solid 1px #879AC0;
    border-bottom: solid 1px #1A356E;
    color: white;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    padding: 2px 6px 3px 6px;
    margin: 1px 1px 0 21px;
    text-shadow: none;
}

/* ---------------- FOURSQUARE LOGIN BUTTON ------------------- */
.foursquare_login_button {
    background: #2090c6 url('../images/foursquare_button.png');
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    outline: none;
    font-size: 11px;
    line-height: 20px;
    border: 0;
    height: 24px;
}

.foursquare_button_text {
    background: #2090c6;
    border-top: solid 1px #879AC0;
    border-bottom: solid 1px #1A356E;
    color: white;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    margin: 0 0 0 20px;
    text-shadow: none;
}

/* ---------------- GOOGLE LOGIN BUTTON ------------------- */
.google_login_button {
    background: #0064D9 url('../images/google_button.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 1px;
    text-decoration: none;
    outline: none;
    font-size: 11px;
    line-height: 14px;
    margin: 0px;
}

.google_button_text {
    background: #0064D9;
    border-top: solid 1px #879AC0;
    border-bottom: solid 1px #1A356E;
    color: white;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    padding: 2px 6px 3px 6px;
    margin: 1px 1px 0 21px;
    text-shadow: none;
}

/* --------------------- LOGIN ------------------------ */
.login {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.login_form {
    text-align: right;
    display: inline-block;
}

#other_login_options {
    margin-left: 50px;
    display: inline-block;
    text-align: left;
}

#other_login_options ul {
    margin: 0;
    padding: 0;
}

#other_login_options li {
    padding-top: 15px;
    list-style-type: none;
}

.registration {
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

.buttons {
    padding-top: 20px;
    text-align: right;
    width: 482px;
}

.buttons input {
    height: 30px;
    width: 100px;
}

.buttons ul {
    list-style-type: none;
    overflow: hidden;
}

.buttons li {
    float: left;
    padding-right: 4px;
}

/* ------------------ FOOTER ---------------------------- */
#footer {
    text-align: center;
    font-size: 10px;
    color: #474747;
    border-top: 1px solid #BBB;
    height: 60px;
}

#footer a {
    color: #474747;
}

#language {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#language ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#language ul li {
    display: inline-block;
    font-weight: bold;
    color: black;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

/* -------------- LANGUAGE SELECTION BUTTONS ------------ */
.text_button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-weight: normal;
    color: #474747;
    line-height: normal;
    cursor: pointer;
    margin-top: -2px;
}

/* ------------------- MESSAGES ------------------- */
.messages {
    border: solid 1px #DEDEDE; 
    background: #00CC00;
    color: #006600;
    padding: 4px;
    text-align: center;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

/* --------------------- PROFILE ------------------------ */
#profile {
    margin-left: 50%;
    margin-top: 4%;
    display: inline-block;
    text-align: center;
}

#menu_list {
    text-align: left;
    display: inline-block;
    position: absolute;
    margin-top: 5%;
}

#picture {
    margin-left: 30%;
    margin-top: 8%;
    text-align: left;
    display: inline-block;
    position: absolute;
}

#current_item {
    text-decoration: underline;
    color: #68AE2C;
}

/* --------------------- ACCOUNT ------------------------ */
#password_change {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

.button_account {
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.button_account input {
    height: 25px;
    width: 100px;
}

.button_account ul {
    list-style-type: none;
    overflow: hidden;
}

.user_image {
    width: 50px;
    height: 50px;
}

/* ------------------ PANELS ---------------------------- */
.panel {
    width: 260px;
}

.panel .header {
    color: #FCFCFC;
    height: 20px;
    text-align: center;
    background-color: #68AE2C;
    cursor: pointer;
}

/* ------------------ CONTACT ---------------------------- */
.contact_form {
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

.contact_form h1 {
    margin-left: 280px;
}

.contact_form textarea {
    width: 300px;
}

.contact_comment p {
    margin-left: 100px;
}