/* Basic layout */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: url('../images/background.png') repeat-x top left;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

.hidden {
    visibility: hidden;
}

a {
    color: #68AE2C;
    text-decoration: none;
}

.gravatar {
    border: 0px;
}

/* Styling forms*/
ul.errorlist {
    list-style: none;
}

/* -------------------- HEADER --------------------- */
#header {
    width: 960px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#header #language_selection {
    float: right;
    margin-top: 30px;
}

#header #logo {
    margin-top: 30px;
    margin-bottom: 10px;
}

#header #search {
    float: right;
    padding: 20px;
    background: #FFF;
    width: 410px;
}

#header #search img {
    padding-top: 10px;
    display: inline-block;
}

/* -------------------- MAIN ------------------------ */
#main {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.result {
    text-align: left;
    padding-top: 110px;
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 10px;
}
/* ------------------ REGISTRATION ---------------------------- */
.registration {
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

.registration .form_field ul {
    list-style-type: none;
    padding-top: 5px;
    overflow: hidden;
}

.registration .form_field li {
    display: inline-block;
    padding-right: 4px;
    text-align: right;
}

.registration .form_field .form_label {
    width: 120px;
}

.registration .form_field .form_textbox {
    width: 300px;
    text-align: left;
}

/* buttons */
.button {
    padding-top: 20px;
    margin-left: 100px;
}

.button input {
    height: 30px;
    width: 100px;
}

.button ul {
    list-style-type: none;
    overflow: hidden;
}

.button li {
    float: left;
    padding-right: 4px;
}

/* ------------------ FOOTER ---------------------------- */
#footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1.3em;
    font-size: 10px;
    color: #888;
}

#footer a {
    color: #999;
    border-bottom: dotted 1px #999;
}

/* ---------------- FB LOGIN BUTTON ------------------- */
.fb_login_button {
    background: #29447E url('../images/fb_sprite.png');
    background-position: left -188px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 1px;
    text-decoration: none;
    outline: none;
    font-size: 11px;
    line-height: 14px;
}

.fb_button_text {
    background: #5F78AB url('../images/fb_sprite.png');
    border-top: solid 1px #879AC0;
    border-bottom: solid 1px #1A356E;
    color: white;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    padding: 2px 6px 3px 6px;
    margin: 1px 1px 0 21px;
    text-shadow: none;
}
