body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: url('../images/background.png') repeat-x top left;
    color: #000000;
    padding: 0px;
    margin: 0px;
}

.hidden {
    visibility: hidden;
}

a {
    color: #68AE2C;
    text-decoration: none;
}

.gravatar {
    border: 0px;
}

/* Styling forms*/
ul.errorlist {
    list-style: none;
}

/* -------------------- HEADER --------------------- */
#header {
    height: 128px;
    min-width: 800px;
    display: inline-block;
}

#header #logo {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: inherit;
}

#header #search {
    position: absolute;
    right: 20px;
    top: 85px;
    width: 400px;
    height: 50px;
}

#header .user {
    margin-right: 20px;
    position: absolute;
    top: 5px;
    right: 0; 
}

#header .user ul { 
    font-size: 10px;
    list-style: none;
    margin: 0;
    text-align: right;
}

#header .user li {
    float: left;
    border-right: 1px solid #d7d7d7;
    display: inline;
    padding: 0 .75em;
    white-space: nowrap;
}

#header .user li.last { 
    border-right: none; 
}

#header .user .username {
    font-weight: bold;
}

#header .user .image { 
    vertical-align: text-top;
    border-right: none;
}

#header .user a, .user button {
    text-decoration: none;
    font-size: 10px;
}

td.gsc-clear-button, table.gsc-branding {
    display: none;
}

/* Google search CSS */
#google_query {
    margin-bottom: -10px;
    margin-left: 110px;
}

.google_query_text {
    font-weight: bold;
}

#gsc-i-id1 {
    border-color: #969696;
    border-bottom-left-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-left-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 1.2em;
    height: 24px;
}

input.gsc-search-button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: -moz-linear-gradient(#F1F1F1, #DFDFDF);
    background-image: -ms-linear-gradient(#F1F1F1, #DFDFDF);
    background-image: -webkit-linear-gradient(#F1F1F1, #DFDFDF);
    background-origin: padding-box;
    background-position: 0 0;
    border-bottom-right-radius: 3px;
    border-bottom-color: #999999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-right-radius: 3px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 1px 1px 0 #E7E7E7, 0 1px 0 #FCFCFC inset, 0 -1px 0 #D7D7D7 inset;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    height: 28px;
    margin-left: 50px;
    position: relative;
    left: -6px;
    display: inherit;
}

#search_logo {
    position: absolute;
    right: 410px;
    top: 2px;
}

/* -------------------- MAIN ------------------------ */
#content {
    margin: 20px;
}

#main {
    overflow: hidden;
}

.result {
    text-align: left;
    padding-top: 30px;
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 30px;
}

/* -------------------- AUTHENTICATION ------------------------ */
.auth_button {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    cursor: hand;
    color: #68AE2C;
    font-size: 13px;
    text-decoration: none;
}

/* ---------------- FB LOGIN BUTTON ------------------- */
.fb_login_button {
    background: #29447E url('../images/fb_sprite.png');
    background-position: left -188px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 1px;
    text-decoration: none;
    outline: none;
    font-size: 11px;
    line-height: 14px;
    margin: 0px;
}

.fb_button_text {
    background: #5F78AB url('../images/fb_sprite.png');
    border-top: solid 1px #879AC0;
    border-bottom: solid 1px #1A356E;
    color: white;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    padding: 2px 6px 3px 6px;
    margin: 1px 1px 0 21px;
    text-shadow: none;
}

/* ---------------- TWITTER LOGIN BUTTON ------------------- */
.twitter_login_button {
    background: #3DBCDC url('../images/twitter_button.png');
    background-position:  0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 1px;
    text-decoration: none;
    outline: none;
    font-size: 11px;
    line-height: 14px;
    margin: 0px;
}

.twitter_button_text {
    background: #3DBCDC;
    border-top: solid 1px #879AC0;
    border-bottom: solid 1px #1A356E;
    color: white;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-weight: bold;
    padding: 2px 6px 3px 6px;
    margin: 1px 1px 0 21px;
    text-shadow: none;
}

/* --------------------- LOGIN ------------------------ */
.login {
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.login_form {
    text-align: right;
    display: inline-block;
}

#other_login_options {
    margin-left: 50px;
    display: inline-block;
    text-align: left;
}

#other_login_options ul {
    margin: 0;
    padding: 0;
}

#other_login_options li {
    padding-top: 15px;
    list-style-type: none;
}

#other_login_options ul li p {
    margin: 0px;
}

/* ------------------ REGISTRATION ---------------------------- */
.registration {
    width: 960px;
    margin: auto;
    margin-top: 50px;
}

.registration .form_field ul {
    list-style-type: none;
    padding-top: 5px;
    overflow: hidden;
}

.registration .form_field li {
    display: inline-block;
    padding-right: 4px;
    text-align: right;
}

.registration .form_field .form_label {
    width: 120px;
}

.registration .form_field .form_textbox {
    width: 300px;
    text-align: left;
}

/* buttons */
.button {
    padding-top: 20px;
    margin-left: 100px;
}

.button input {
    height: 30px;
    width: 100px;
}

.button ul {
    list-style-type: none;
    overflow: hidden;
}

.button li {
    float: left;
    padding-right: 4px;
}

/* ------------------ FOOTER ---------------------------- */
#footer {
    text-align: center;
    font-size: 10px;
    color: #474747;
    border-top: 1px solid #BBB;
    height: 60px;
}

#footer a {
    color: #474747;
}

#language {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#language ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#language ul li {
    display: inline-block;
    font-weight: bold;
    color: black;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
}

/* -------------- LANGUAGE SELECTION BUTTONS ------------ */
.text_button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-weight: normal;
    color: #474747;
    line-height: normal;
    cursor: pointer;
    margin-top: -2px;
}

/* ------------------- MESSAGES ------------------- */
.messages {
    border: solid 1px #DEDEDE; 
    background: #00CC00;
    color: #006600;
    padding: 4px;
    text-align: center;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

/* --------------------- PROFILE ------------------------ */
#profile {
    margin-left: 50%;
    margin-top: 4%;
    display: inline-block;
    text-align: center;
}

#menu_list {
    text-align: left;
    display: inline-block;
    position: absolute;
    margin-top: 5%;
}

#picture {
    margin-left: 30%;
    margin-top: 8%;
    text-align: left;
    display: inline-block;
    position: absolute;
}

#current_item {
    text-decoration: underline;
}

/* --------------------- ACCOUNT ------------------------ */

#password_change {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

.button_account {
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.button_account input {
    height: 25px;
    width: 100px;
}

.button_account ul {
    list-style-type: none;
    overflow: hidden;
}
