Django==1.4.1
Jinja2==2.6
PyYAML==3.10
Pygments==1.5
Sphinx==1.1.3
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.15
blinker==1.2
celery==3.0.10
django-appconf==0.5
django-browserid==0.6
django-celery==3.0.10
django-classy-tags==0.3.4.1
django-missing==0.1.4
django-pushserver==0.1.10
django-sekizai==0.5
django-staticfiles==1.2.1
-e git+https://github.com/mitar/django-tastypie.git@c4fd1dc3cb7fc9f2e16ebd05bd120d10a9d09055#egg=django-tastypie
django-tastypie-mongoengine==0.2.3
docutils==0.9.1
kombu==2.4.7
lxml==2.3
mimeparse==0.1.3
-e git+https://github.com/mitar/django-mongodbforms.git@01201c7b14127a3cb2cb027965320ed8ec499a4e#egg=mongodbforms-dev
-e git+https://github.com/mitar/mongoengine.git@a661cc68a17e1207843bd58e37f73814a9ca9326#egg=mongoengine
-e git+https://github.com/mitar/django-mongogeneric.git@0d9d320398865d04e5c9d72b47543ecf68471813#egg=mongogeneric-dev
py-hbpush==0.1.3
pymongo==2.3
python-dateutil==1.5
pytz==2012d
tornado==2.3
tweepy==1.9
wsgiref==0.1.2
