{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
<div class="registration">
    <form method="post" action="{% url registration %}">
        {% csrf_token %}
        <ul class="form_fields">
            {% for field in form %}    
                <li class="field_error">
                    {{ field.errors.as_text }}
                </li>     
                <li class="field">
                    <label for="{{ field.id_for_label }}">
                        {% if field.field.required %}
                            <span class="required">{{ field.label }}<sup title="{% trans "Required" %}">*</sup></span>
                        {% else %}
                            {{ field.label }}
                        {% endif %}
                    </label>
                    {{ field }} 
                </li> 
            {% endfor %}            
        </ul>
        <div class="button">
            <ul>
                <li><input type="submit" value="{% trans "Register" %}" /></li>
                <li><input type="reset" value="{% trans "Reset" %}" /></li>
            </ul>
        </div>
    </form>
</div>
{% endblock %}
