.error {
    font-size: x-small;
}

#weather {
    font-size: 10px;
    text-align: left;
}

#weather ul{
    float: left;
    width: 100%;
}

#weather span{
    font-size: 7px;
}

#weather li {
    float: left;
    border: 1px solid gray;
    display: inline;
    vertical-align: middle;
}

#forecast ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#forecast li {
    border: none;
    padding: 5px;
}