.error {
    font-size: x-small;
}

#weather {
    font-size: 10px;
    text-align: left;
}

#weather ul {
    float: center;
    padding: 0;
}

#weather ul li {
    float: left;
    border: 1px solid gray;
    display: inline;
    width: 100%;

}

#weather span {
    font-size: 7px;
}

#forecast ul {
    width: auto;
    list-style: none;
    margin: 0;
    
    vertical-align: middle;
}

#forecast ul li {
    border: none;
    padding: 0;
    width: auto;
    margin-left: 5px;
    display: table-cell;
    
    vertical-align: middle;
}