{% comment %}
This is a standard template for rendering forms.
It uses `form` (form object), `form_submit` (submit button label) and `form_action` (form action URL) from
the context.
We use `next` from the context or use `request_get_next`, which is set to request's GET `next` argument, to set
where the form should redirect after submission.
{% endcomment %}

{% load i18n %}
<div class="login">
    <div class="login-container">
{% if form.is_multipart %}
    <form action="{{ form_action }}" method="post" enctype="multipart/form-data">
{% else %}
    <form action="{{ form_action }}" method="post">
{% endif %}
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% with next|default:request_get_next|default:"" as next_url %}
            <div style="display: none;"><input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ next_url }}" /></div>
        {% endwith %}
        {% if form.fields %}

                {% for field in form %}

                    <fieldset class="field-form">
                        <div class="field-form-input">
                            {{ field }}
                        </div>
                        <label class="field_error">
                            {{ field.errors }}
                        </label>
                        <label class="field-form-text">
                                {% if field.field.required %}
                                    <span class="required">{{ field.label }}<sup title="{% trans "Required" %}">*</sup></span>
                                {% else %}
                                    {{ field.label }}
                                {% endif %}

                        </label>


                    </fieldset>
                {% endfor %}

        {% endif %}
        <div class="buttons"><input type="submit" value="{{ form_submit }}" /></div>
        <div class="clearfix">&nbsp;</div>
    </form>
    </div></div>