{% comment %}
This is a standard template for rendering forms.
It uses `form` (form object), `form_submit` (submit button label) and `form_action` (form action URL) from
the context.
We use `next` from the context or use `request_get_next`, which is set to request's GET `next` argument, to set
where the form should redirect after submission.
{% endcomment %}

{% load i18n %}

{% if form.is_multipart %}
    <form action="{{ form_action }}" method="post" enctype="multipart/form-data">
{% else %}
    <form action="{{ form_action }}" method="post">
{% endif %}
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% with next|default:request_get_next|default:"" as next_url %}
            <div style="display: none;"><input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ next_url }}" /></div>
        {% endwith %}
        {% if form.fields %}
            <ul class="form_fields">
                {% for field in form %}
                    {% if field.errors %}
                        <li class="field_error align_to_label_width">
                            {{ field.errors }}
                        </li>
                    {% endif %}
                    <li class="field">
                        <label for="{{ field.id_for_label }}" class="main">
                            {% if field.field.required %}
                                <span class="required">{{ field.label }}<sup title="{% trans "Required" %}">*</sup></span>
                            {% else %}
                                {{ field.label }}
                            {% endif %}
                        </label>
                        {{ field }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if form_submit %}
                <div class="buttons align_to_label_width"><input type="submit" value="{{ form_submit }}" /></div>
        {% endif %}
    </form>
