{% load i18n %}

<ul class="form_fields">
    {% for field in form %}    
        <li class="field_error">
            {{ field.errors }}
        </li>     
        <li class="field">
            <label for="{{ field.id_for_label }}">
                {% if field.field.required %}
                    <span class="required">{{ field.label }}<sup title="{% trans "Required" %}">*</sup></span>
                {% else %}
                    {{ field.label }}
                {% endif %}
            </label>
            {{ field }}
        </li> 
    {% endfor %}            
</ul>