{% load i18n %}
<form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        {{ field.errors }}
        <ul class="form_field">
            <li class="form_label">
                <label for="{{ field.id_for_label }}">
                    {% if field.field.required %}
                        <span class="required">{{ field.label }}<sup title="{% trans "Required" %}">*</sup></span>
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </label>
            </li>
            <li class="form_textbox">{{ field }}</li>
        </ul>
    {% endfor %}
    <div class="button_account">
        <ul>
            <li><input type="submit" value="{% trans "Submit" %}" /></li>
        </ul>
    </div>
</form>
