{% extends "panel/panel.html" %}

{% load i18n staticfiles sekizai_tags %}

{% block content %}
    {% addtoblock "css" %}<link href="{% static "piplmesh/panel/bicikelj/panel.css" %}" rel="stylesheet" type="text/css" media="screen" />{% endaddtoblock %}
    <div id="bicikelj">
        {% for station in stations %}
            <dl>
                <dt><span class="station_name">{{ station.name }}</span></dt>
                <dd>
                    <ul>
                        <li><span class="station_availability">{% blocktrans %}<b>{{ station.available }}</b> available bikes{% endblocktrans %}</span></li>
                        <li><span class="station_free">{% blocktrans %}<b>{{ station.free }}</b> free places %}{% endblocktrans %}</span></li>
                    </ul>
                </dd>
            </dl>
        {% empty %}
            <span class="bicikelj_error">{% trans "No Bicikelj stations nearby" %}</span>
        {% endfor %}
    </div>
    <script type="text/javascript">
        /* TODO
    </script>

{% endblock %}