{% extends "plain.html" %}

{% load future i18n staticfiles account %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
    {% include "user/menu.html" %}
    <div class="profile">
        <h1>{% trans "Profile" %}</h1>
        <div id="picture">        
            {% user_image object %}
        </div>
        <p>{% trans "Username:" %} {{ object.username }}</p>
        <p>{% trans "Name:" %} {{ object.get_full_name }}</p>
        <p>{% trans "Gender:" %} {{ object.get_gender_display }}</p>
        <p>{% trans "Birthdate:" %} {{ object.birthdate }}</p>
        <p>{% trans "E-mail:" %} {{ object.email }}</p>
        <p>{% trans "Last login:" %} {{ object.last_login }}</p>
        {% if object.facebook_profile_data.link %}
            <p><a href="{{ object.facebook_profile_data.link }}"><img src="{% static "piplmesh/images/fb_logo.png" %}" height="30" width="30" alt="{% trans "Facebook link" %}" /></a></p>
        {% endif %}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}
