{% extends "plain.html" %}

{% load future i18n staticfiles account %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
    <div id="menu_list">
        {% if user.username == object.username %}
            <p id="current_item">{% trans "Profile" %}</p>
            <p><a href="{% url "account" %}">{% trans "Account" %}</a></p>
        {% endif %}
    </div>
    <div id="picture" >        
        {% user_image object %}
    </div>
    <div id="profile">
        <p>{% trans "Username:" %} {{ object.username }}</p>
        <p>{% trans "Name:" %} {{ object.get_full_name }}</p>
        <p>{% trans "Gender:" %} {{ object.get_gender_display }}</p>
        <p>{% trans "Birthdate:" %} {{ object.birthdate }}</p>
        <p>{% trans "E-mail:" %} {{ object.email }}</p>
        <p>{% trans "Last login:" %} {{ object.last_login }}</p>
        {% if object.facebook_profile_data.link %}
            <p><a href="{{ object.facebook_profile_data.link }}"><img src="{% static "piplmesh/images/fb_logo.png" %}" height="30" width="30" alt="{% trans "Facebook link" %}" /></a></p>
        {% endif %}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}
