{% extends "plain.html" %}

{% load future i18n staticfiles %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "piplmesh/js/forms.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% include "user/menu.html" %}
    <div class="account">
        <h1>{% trans "Account" %}</h1>
        {% with form_submit=_("Submit") %}
            {% include "form/form.html" %}
        {% endwith %}
        <div id="password_change" class="automatic-width">
            <p><a href="{% url "password_change" %}">{% trans "Change your password" %}</a></p>
            {% if not user.email_confirmed and user.email %}
                <p><a href="{% url "email_confirmation_send_token" %}">{% trans "Please confirm your e-mail address" %}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
