{% extends "plain.html" %}

{% load future i18n %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}
    <ul id="menu_list">
        <li><a href="{% url "profile" username=user.username %}">{% trans "Profile" %}</a></li>
        <li class="current_item"><a href="{% url "account" %}">{% trans "Account" %}</a></li>
    </ul>
    <div class="account">
        {% with form_submit=_("Submit") %}
            {% include "form/form.html" %}
        {% endwith %}
        <div id="password_change">
            <p><a href="{% url "password_change" %}">{% trans "Change your password" %}</a></p>
            {% if not user.email_confirmed and user.email %}
                <p><a href="{% url "email_confirmation_send_token" %}">{% trans "Please confirm your e-mail address" %}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
