{% extends "plain.html" %}

{% load future i18n %}

{% block title %}{% trans "Confirm your e-mail address" %}{% endblock %}

{% block content %}
    {% include "user/menu.html" %}
    <div id="email_confirmation_process_token" class="account">
        <h1>{% trans "Confirm your e-mail address" %}</h1>
        <p>
            {% blocktrans with email=user.email %}You are just one step away from confirming your e-mail address. If for some reason the input box below is empty, paste the token in manually from the confirmation e-mail you have received.{% endblocktrans %}
        </p>
        {% with form_submit=_("Confirm your e-mail address") %}
            {% include "form/form.html" %}
        {% endwith %}
    </div>
{% endblock %}
