{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "Email Verification" %}{% endblock %}

{% block content %}
<div id="main">
    {% trans "Clicking the button below will send a confirmation mail to" %} {{ user.email }}</p>
    <form method="post" action="{% url email_verification_send %}">
        {% csrf_token %}
        <button type="submit">{% trans "Click here to verify your email" %}</button>
    </form>
    <br><br>
    <dl class="faq">
        <dt>{% trans "Why should I verify my email address?" %}</dt>
        <dd>
            {% blocktrans %}Verifying your email address improves the security of your Account. Once you've verified your email address, you will be able to reset your password.{% endblocktrans %}
        </dd>
    </dl>
</div>
{% endblock %}
