{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "Email Verification" %}{% endblock %}

{% block content %}
    <p>
        {% blocktrans %}Clicking the button below will send a confirmation mail to {{ user.email }}{% endblocktrans %}
    </p>
    <form method="post" action="{% url email_verification_send %}" id="email_verification">
        {% csrf_token %}
        <button type="submit">{% trans "Click here to verify your e-mail address" %}</button>
    </form>
    <dl class="faq">
        <dt>{% trans "Why should I verify my e-mail address?" %}</dt>
        <dd>
            {% blocktrans %}Verifying your e-mail address improves the security of your Account. Once you've verified your e-mail address, you will be able to reset your password.{% endblocktrans %}
        </dd>
    </dl>
{% endblock %}
