{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "E-mail Confirmation" %}{% endblock %}

{% block content %}
    <div id="menu_list">
        <p><a href="{% url profile username=user.username %}">{% trans "Profile" %}</a></p>
        <p id="current_item"><a href="{% url account %}">{% trans "Account" %}</a></p>
    </div>
    <p>
        {% blocktrans with email=user.email %}Clicking the button below will send a confirmation mail to {{ email }}{% endblocktrans %}
    </p>
    <form method="post" action="{% url email_confirmation %}" id="email_confirmation">
        {% csrf_token %}
        <button type="submit">{% trans "Click here to confirm your e-mail address" %}</button>
    </form>
    <dl class="faq">
        <dt>{% trans "Why should I confirm my e-mail address?" %}</dt>
        <dd>
            {% blocktrans %}Confirming your e-mail address improves the security of your Account. Once you've confirmed your e-mail address, you will be able to reset your password.{% endblocktrans %}
        </dd>
    </dl>
{% endblock %}
