{% extends "plain.html" %}

{% load future i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <ul id="menu_list">
        <li><a href="{% url "profile" username=user.username %}">{% trans "Profile" %}</a></li>
        <li class="current_item"><a href="{% url "account" %}">{% trans "Account" %}</a></li>
    </ul>
    <div class="account">
        {% with form_submit=_("Submit") %}
            {% include "form/form.html" %}
        {% endwith %}
    </div>
{% endblock %}
