{% extends "plain.html" %}

{% load future i18n staticfiles %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "piplmesh/js/forms.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% include "user/menu.html" %}
    <div class="account">
        <h1>{% trans "Change Password" %}</h1>
        {% with form_submit=_("Submit") %}
            {% include "form/form.html" %}
        {% endwith %}
    </div>
{% endblock %}
