{% extends "plain.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div id="menu_list">
        <p><a href="{% url user username=user.username %}">{% trans "Profile" %}</a></p>
        <p id="current_item"><a href="{% url account %}">{% trans "Account" %}</a></p>
    </div>
    <div class="registration">
        {% with form_submit=_("Submit") %}
            {% include "form/form.html" %}
        {% endwith %}
    </div>
{% endblock %}
