{% extends "plain.html" %}

{% load future i18n staticfiles %}

{% block js %}
    {{ block.super }}
    <script src="{% static "piplmesh/js/registration.js" %}" type="text/javascript"></script>
{% endblock %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
    <div class="registration">
        <h1>{% trans "Registration" %}</h1>
        {% with form_submit=_("Register") %}
            {% url "registration" as form_action %}
            {% include "form/form.html" %}
        {% endwith %}
    </div>
{% endblock %}
