#usersearch input {
    width: 80%;
}

#usersearch img {
    padding-right: 5px;
}

#userlist {
    color: #68AE2C;
    text-decoration: none;
    list-style: none;
    overflow-y: scroll;
    height: 200px;
}

#userlist li {
    display: block;
    margin-bottom: 10px;
}

#userlist img {
    height: 25px;
    width: 25px;
    float: left;
}

#userlist .info {
    font-size: 8px;
    color: #333333;
}

#userlist a:active, #userlist a:hover {
    color: #006600;
}
