{% extends "panel/panel.html" %}

{% load i18n staticfiles sekizai_tags %}

{% block content %}
{% addtoblock "css" %}<link href="{% static "piplmesh/panel/map/panel.css" %}" rel="stylesheet" type="text/css" media="screen" />{% endaddtoblock %}
{% addtoblock "js" %}<script src="https://maps.googleapis.com/maps/api/js?libraries=weather,panoramio&sensor=false" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static "piplmesh/panel/map/panel.js" %}" type="text/javascript"></script>{% endaddtoblock %}
<div id="basic-map" class="small">
    <div id="basic-map-extend-image"></div>
    <div id="map-info"></div>
    <div id="map"></div>
</div>
{% endblock %}
