{% extends "panel/panel.html" %}

{% load i18n staticfiles sekizai_tags %}

{% block content %}
    {% addtoblock "css" %}<link href="{% static "piplmesh/panel/map/panel.css" %}" rel="stylesheet" type="text/css" media="screen" />{% endaddtoblock %}
    {% addtoblock "js" %}<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static "piplmesh/panel/map/panel.js" %}" type="text/javascript"></script>{% endaddtoblock %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            /* <![CDATA[ */
            var node = {
                'name': '{{ request.node.name|escapejs }}',
                'latitude': '{{ request.node.latitude|escapejs }}',
                'longitude': '{{ request.node.longitude|escapejs }}',
                'location': '{{ request.node.location|escapejs }}',
                'url': '{{ request.node.url|escapejs }}'
            };
            /* ]]> */
        </script>
    {% endaddtoblock %}
    <div id="map_info"></div>
    <div id="map_canvas"></div>
{% endblock %}
