{% extends "plain.html" %}

{% block fulltitle %}wlan slovenija{% endblock %}

{% block content %}

{% load i18n facebook %}

<div id="main">
    <div id="settings">
        <p id="cur">profile</p>
        {% if user.username == profile.username %}
            <p><a href="/profile/{{user.username }}/settings">settings<a/></p>
        {% endif %}
    </div>
    <div id="pic" >
        <img src="{% facebook_picture profile.username "large" %}" alt="{% trans "User picture" %}"/>
    </div>
    <div id="profile">
        <p>Username: {{ profile.username }}</p>
        <p>first name: {{ profile.first_name }}</p>
        <p>last name: {{ profile.last_name }}</p>
        <p>gender: {{ profile.gender }}</p>
        <p>birthdate: {{ profile.birthdate }}</p>
        <p>email: {{ profile.email }}</p>
        <p>last login: {{ profile.last_login }}</p>
        <p>fb id: {{ profile.facebook_id }}</p>
        <p>language: {{  profile.language }}</p>
        <p>id: {{  profile.id }}</p>
        <br>
        <br>
        <br>
    </div>
</div>
{% endblock %}


