{% extends "plain.html" %}

{% block fulltitle %}wlan slovenija{% endblock %}

{% block content %}
<div id="main">
    <div id="settings">
        <p>profile</p>
        <p>settings</p>
        <p>other</p>
    </div>
    <div id="profile">
        <p>-----------------------</p>
        <p>{{ user }}</p>
        <p>{{ user.birthdate }}</p>
        <p>{{ user.gender }}</p>
        <p>{{ user.language }}</p>
        <p>{{ user.facebook_id }}</p>
        <p>{{ user.facebook_token }}</p>
        <p>-----------------------</p>
    </div>
</div>
{% endblock %}


