{% extends "plain.html" %}

{% load i18n gravatar %}

{% block title %}{% trans "Settings" %}{% endblock %}

{% block content %}
<div id="main">
    <div id="settings">
        <p><a href="{% url profile username=user.username %}">{% trans "Profile" %}<a/></p>
        <p id="cur">{% trans "Settings" %}</p>
    </div>
    <div class="registration">
        <form method="post" action="">
            <div id="settings1">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != "new_password1" and field.name != "new_password2" and field.name != "old_password" and field.name != "avatar" %}
                        {{ field.errors }}
                        <ul class="form_field">
                            <li class="form_label">
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                            </li>
                            <li class="form_textbox">{{ field }}</li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="settings2">
                <label>{% trans "Change your password" %}</label>
                {% for field in form %}
                    {% if field.name == "new_password1" or field.name == "new_password2" %}
                        {{ field.errors }}
                        <ul class="form_field">
                            <li class="form_label">
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                            </li>
                            <li class="form_textbox">{{ field }}</li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="avatar1">
                {{ form.avatar.errors }}
                <ul class="form_field">
                    <li class="form_label">
                        <label for="{{ form.avatar.id_for_label }}">
                            {{ form.avatar.label }}
                        </label>
                    </li>
                    <li class="form_textbox2">{{ form.avatar }}</li>
                    <li id="image2">
                        {% gravatar user 50 %}
                    </li>
                </ul>
            </div>
            <div id="button1">
                {{ form.old_password.errors }}
                <ul class="form_field">
                    <li class="form_label">
                        <label for="{{ form.old_password.id_for_label }}">
                            {{ form.old_password.label }}
                        </label>
                    </li>
                    <li id="form_textbox2">{{ form.old_password }}</li>
                    <li><input type="submit" value="{% trans "Save Changes" %}" /></li>
                </ul>
            </div>
        </form>
    </div>
</div>
{% endblock %}
