{% extends "plain.html" %}

{% load i18n %}

{% block fulltitle %}wlan slovenija{% endblock %}

{% block content %}


<div id="main">
    <div id="settings">
        <p><a href="/profile/{{user.username }}/">profile<a/></p>
        <p id="cur">settings</p>
    </div>
    <div class="registration">
        <form method="post" action="{% url registration %}">
            {% csrf_token %}
            {% for field in form %}
            {{ field.errors }}
            <ul class="form_field">
                <li class="form_label">
                    <label for="{{ field.id_for_label }}">
                        {% if field.field.required %}
                        <span class="required">{{ field.label }}<sup title="{% trans "Required" %}">*</sup></span>
                        {% else %}
                        {{ field.label }}
                        {% endif %}
                    </label>
                </li>
                <li class="form_textbox">{{ field }}</li>
            </ul>
            {% endfor %}
            <div class="button">
                <ul>
                    <li><input type="submit" value="{% trans "Register" %}" /></li>
                    <li><input type="reset" value="{% trans "Reset" %}" /></li>
                </ul>
            </div>
        </form>
    </div>
</div>
{% endblock %}