{% extends "plain.html" %}

{% block fulltitle %}wlan slovenija{% endblock %}

{% block content %}


<div id="main">
    <div id="settings">
        <p><a href="/profile/{{user.username }}/">profile<a/></p>
        <p id="cur">settings</p>
    </div>
    <div id="profile">
        <p>-----------------------</p>
        <p>SOMETHING ELSE</p>
        <p>-----------------------</p>
        <p>-----------------------</p>
        <p>SOMETHING ELSE</p>
        <p>-----------------------</p>
        <p>-----------------------</p>
        <p>SOMETHING ELSE</p>
        <p>-----------------------</p>
        <p>-----------------------</p>
        <p>SOMETHING ELSE</p>
        <p>-----------------------</p>
    </div>
</div>
{% endblock %}